<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/semantic.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/static/js/vendor/modernizr.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
      <div class="ui top attached menu">
        <div class="header item">
          Prospector
        </div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/prospect">Prospects</a>
        <div class="right menu">
            {% if current_user.is_authenticated %}
                <a class="item" href="/logout">Logout</a>
            {% else %}
                <a class="item" href="/login">Signin</a>
            {% endif %}
        </div>
      </div>

    <div class="ui attached grid">
      <div class="six wide column">
      </div>
      <div class="ten wide column">
        <h1 class="ui header">{% block header %}{% endblock %}</h1>
      </div>
    </div>

    <!-- WARN: use either content or full_content when extending not both!! -->
    <div class="ui attached grid">
      <div class="four wide column">
      </div>
      <div class="eight wide column">
        <div id="main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="four wide column">
      </div>
    </div>

    <!-- WARN: use either content or full_content when extending not both!! -->
    <div id="full-main" class="ui container" style="margin-top: -38px">
        {% block full_content %}
        {% endblock %}
    </div>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    {% block footer %}
    {% endblock %}
  </body>
</html>
