{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="ui fluid image">
        <img src="/static/img/logo.png" placeholder="Prospector">
    </div>
    <div class="ui grid">
        <div class="two column wide"></div>
        <div class="thirteen column wide">
            <div class="ui medium header">start a conversation about social media here</div>
        </div>
    </div>
    <form class="ui inverted form segment" action="/player/new" method="post">
        <div class="ui action input row">
          <input type="text" placeholder="Search twitter handles...">
          <div type="submit" class="ui button">Search</div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
