{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="ui fluid image">
        <img src="/static/img/logo.png" placeholder="Prospector">
    </div>
    <form class="ui inverted form segment" action="/prospect" method="POST">
        <div class="ui fluid action input">
          <input name="handle" type="text" placeholder="Search twitter handles...">
          <div class="ui submit button">Search</div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
