<table class="ui black table">
 <thead>
   <tr>
     <th>Location</th>
     <th>Total</th>
 </tr></thead>
 <tbody>
   {% for location in locations %}
   <tr>
     <td>
       <h4 class="ui image header">
         <div class="content">
           {{ location[0] }}
         </div>
       </h4></td>
     <td>
       {{ location[1] }}
     </td>
   </tr>
   {% endfor %}
 </tbody>
</table>
{% if locations|length <= 1 %}
<div class="ui negative message">
    <p>This prospect has not posted any tweets with location data on.
    </p>
</div>
{% endif %}
