{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<div class="two wide column"></div>
<div class="four wide center aligned column main">
    <div class="ui fluid two item top attached huge inverted orange menu">
        <a class="active orange item" data-value='login'>
            Login
        </a>
        <a class="orange item" data-value='signup'>
            Signup
        </a>
    </div>
    <div data-bind="visible: activeSection() == 'login'" class="ui attached padded segment">
        <form id="login-form"class="ui form" action="/login" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username...">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password...">
            </div>
            <div id="submit-login" class="ui submit button">Login</div>
        </form>
    </div>
    <div data-bind="visible: activeSection() == 'signup'" class="ui attached padded segment">
        <form id="signup-form"class="ui form" action="/signup" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username...">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password...">
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="password_confirmation" placeholder="Password...">
            </div>
            <button id="submit-signup" class="ui submit button">Signup</button>
        </form>
    </div>
</div>
<div class="ten wide column"></div>
{% endblock %}

{% block footer %}
    <script>
        var viewModel = {
            activeSection: ko.observable('login')
        };
        ko.applyBindings(viewModel);

        $('body').css('background', '#eee');

        $('.main').css({
            'min-height': '600px',
            'height': $(window).height() * .8,
            'padding-top': $(window).height() * .2,
        });

        $(function() {
          $('a.item').on('click', function(e){
            var item = $(e.target);
            item.siblings().removeClass('active');
            item.addClass('active');
            viewModel.activeSection(item.data('value'));
          });
        });

        $(function() {
          $('#submit-login').on('click', function(e){
            $('#login-form').submit();
          });
        });

        $(function() {
          $('#submit-signup').on('click', function(e){
            $('#signup-form').submit();
          });
        });
    </script>
{% endblock %}
