{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <form class="ui inverted form segment" action="/prospect" method="POST">
        <div class="ui fluid action input">
          <input name="handle" type="text" placeholder="Search twitter handles...">
          <div class="ui submit button">Add</div>
        </div>
    </form>
    <!-- <div class="ui middle aligned divided selection list"> -->
    <div class="ui middle aligned inverted divided link items">
        {% for item in items %}
        <div class="item" data-value={{ item.id }}>
            <img class="ui small image" src={{ item.img_url }}>
            <div class="content">
              <div class="header">{{ item.name }}</div>
              <div class="description">{{ item.description }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
  <script>
    $(function() {
      $('.ui .item').on('click', function(e){
        var item = $(e.target).closest('.item');
        var prospect_id = item.data('value');
        window.location = "/prospect/" + prospect_id;
      });
    });
  </script>
{% endblock %}
