{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<div class="four wide column"></div>
<div class="eight wide column" style="padding-top: 100px">
    <form class="ui inverted form segment" action="/prospect" method="POST">
        <div class="ui fluid action input">
          <input name="handle" type="text" placeholder="Search twitter handles...">
          <div class="ui submit button">Add</div>
        </div>
    </form>
    <div class="ui middle aligned divided link list" style="padding-bottom: 40px;">
        {% for prospect in processed %}
        <div class="item" data-value={{ prospect.id }}>
            <img class="ui avatar image" src={{ prospect.img_url }}>
            <div class="content">
              <div class="header">{{ prospect.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="ui middle aligned divided link list" style="padding-bottom: 40px;">
        {% for prospect in processing %}
        <div class="item" data-value={{ prospect.id }}>
            <img class="ui avatar image" src={{ prospect.img_url }}>
            <div class="content">
              <div class="header">{{ prospect.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="four wide column"></div>
{% endblock %}

{% block full_content %}{% endblock %}
{% block footer %}
  <script>
    $('body').css('background', '#eee');

    $(function() {
      $('.ui .item').on('click', function(e){
        var item = $(e.target).closest('.item');
        var prospect_id = item.data('value');
        window.location = "/prospect/" + prospect_id;
      });
    });
  </script>
{% endblock %}
